@import "normalize.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--family-inter);
  background: var(--color-gray);
}

:root {
  --family-forum: "Forum", sans-serif;
  --family-inter: "Inter", sans-serif;
  --font-size-40: 4rem;
  --font-size-30: 3rem;
  --font-size-20: 2rem;
  --font-size-15: 1.5rem;
  --line-height-50: 5rem;
  --line-height-40: 4rem;
  --color-gray: #8e8e8e;
  --color-white: #fff;
  --color-black: #000;
  --color-brown: #bb945f;
}

.wrapper {
  max-width: 144rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
/*////////////////////////////////////////////////////////*/
.header {
  grid-column: 1 / 13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: var(--color-black);
}
.header__text-logo {
  margin: 0;
  align-items: center;
  color: var(--color-white);
  font-size: var(--font-size-30);
  font-weight: 400;
  font-family: var(--family-forum);
}
.header__wrapper-nav {
  display: flex;
  align-items: center;
}
.header__container-nav-list {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}
.header__list {
  list-style: none;
  margin-right: 3rem;
  display: inline-block;
}
.header__list:last-child {
  margin-right: 0;
}
.header__list::after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background: var(--color-white);
  transition: width 0.4s ease-in-out;
}
.header__list:hover::after,
.header__list:focus::after {
  width: 100%;
}
.header__link {
  text-decoration: none;
  color: var(--color-white);
}
.header__container-svg svg {
  margin: 0;
  padding: 0;
  color: #000;
}
/*//////////////////////////////////////////////////*/
.welcome {
  grid-column: 1 / 13;
  height: 600px;
  background-image: url("../img/Welcome.png");
  padding-top: 22rem;
}
.welcome__text-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-black);
  width: 60rem;
  height: 22rem;
  padding: 35px 40px;
}
.welcome__text {
  margin: 0;
  color: var(--color-white);
  font-size: var(--font-size-40);
  font-weight: 400;
  font-family: var(--family-forum);
  text-align: center;
  text-transform: uppercase;
  line-height: 5rem;
}
/*////////////////////////////////////////////////////////*/
.about {
  background: var(--color-white);
  grid-column: 1 / 13;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.adout__container-heading {
  text-align: center;
  margin-bottom: 4rem;
}
.adout__heading {
  font-size: var(--font-size-40);
  font-family: var(--family-forum);
  color: var(--color-black);
  font-weight: 400;
  margin: 0;
}
.adout__container-heading span {
  border: 1px solid var(--color-black);
  width: 5rem;
  background: var(--color-black);
  display: inline-block;
}
.about__text {
  margin: 0;
  font-size: var(--font-size-20);
  color: var(--color-black);
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}
.about__container-slider {
  /* margin-bottom: 4rem; */
}
.about__container-slider-img {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 4rem;
}
.about__button-slider-container {
  display: flex;
  justify-content: center;
}
.about__slider-button {
  background: var(--color-black);
  border: 1px solid var(--color-black);
  margin-right: 1rem;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.about__slider-button:last-child {
  margin: 0;
}
.about__activ-slider {
  background: var(--color-brown);
  border: none;
}
/*////////////////////////////////////////////////////////*/
.favorites {
  background: var(--color-white);
  grid-column: 1 / 13;
  padding: 0 6rem 0 2rem;
  padding-bottom: 4rem;
}
.favorites__container-heading {
  text-align: center;
  margin-bottom: 4rem;
}
.favorites__heading {
  font-size: var(--font-size-40);
  font-family: var(--family-forum);
  font-weight: 400;
  margin: 0;
}
.favorites__container-heading span {
  border: 1px solid var(--color-black);
  width: 5rem;
  background: var(--color-black);
  display: inline-block;
}
.favorites__text {
  margin: 0;
  font-size: var(--font-size-20);
  font-weight: 700;
  margin-bottom: 4rem;
}
.favorites__wrapper-books {
}
.favorites__radio-container {
  display: flex;
  gap: 9rem;
  margin-bottom: 4rem;
}
.favorites__radio {
  margin-right: 2rem;
  accent-color: var(--color-black);
}
.favorites__radio-label {
  font-size: var(--font-size-20);
  color: var(--color-black);
  font-weight: 400;
}
.favorites__container-books {
}
.favorites__winter-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
}
.favorites__books {
  position: relative;
  width: 55rem;
  height: 55.5rem;
  border: 1px solid var(--color-black);
  padding: 1.5rem 2rem;
}
.favorites__text-books {
  margin: 0;
  font-family: var(--family-forum);
  font-size: var(--font-size-20);
  letter-spacing: 0.2rem;
  color: var(--color-black);
  font-weight: 400;
  line-height: 4rem;
}
.favorites__books span {
  border: 1px solid var(--color-brown);
  width: 6rem;
  background: var(--color-black);
  display: inline-block;
  margin-bottom: 2rem;
}
.favorites__heading-books {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-15);
  color: var(--color-black);
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0.2rem;
}
.favorites__author {
  margin: 0;
  font-size: var(--font-size-15);
  color: var(--color-black);
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
.favorites__description-text {
  margin: 0;
  width: 35.5rem;
  font-size: var(--font-size-15);
  color: var(--color-black);
  font-weight: 400;
  line-height: 4rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
}
.favorites__img-books {
  width: 20rem;
  height: 30rem;
  position: absolute;
  top: 25.5rem;
  right: -4rem;
}
.favorite__button {
  padding: 9px 27px;
  border-radius: 2px;
  border: 1px solid var(--color-black);
  background: var(--color-white);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 1.5rem;
}
.favorites__spring-books {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
}
.favorites__summer-books {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
}
.favorites__autumn-books {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
}
/*////////////////////////////////////////////////////////*/
.coffee-shop {
  background: rgb(30, 174, 138);
  grid-column: 1 / 13;
}
/*////////////////////////////////////////////////////////*/
.contacts {
  background: rgb(30, 117, 144);
  grid-column: 1 / 13;
}
/*////////////////////////////////////////////////////////*/
.library-cards {
  background: rgb(54, 21, 163);
  grid-column: 1 / 13;
}
